In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
df_org = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-01-26/plastics.csv')

In [ ]:
cont = pd.read_csv('continents2.csv')

# Add Continents

In [ ]:
cont.head()
cont_simple = cont[['name', 'region']]
cont_simple.head()

             name   region
0     Afghanistan     Asia
1   Åland Islands   Europe
2         Albania   Europe
3         Algeria   Africa
4  American Samoa  Oceania

In [ ]:
cont_simple = cont_simple.replace('United States', 'United States of America')
cont_simple = cont_simple.replace('Korea, Republic of', 'Korea')

In [ ]:
df_org = df_org.replace('Cote D_ivoire', "Côte D'Ivoire")
df_org = df_org.replace('ECUADOR', 'Ecuador')
df_org = df_org.replace('NIGERIA', 'Nigeria')
df_org = df_org.replace('Taiwan_ Republic of China (ROC)', "Taiwan")
df_org = df_org.replace('United Kingdom of Great Britain & Northern Ireland', 'United Kingdom')
df_org = df_org.replace('EMPTY', 'Unknown')

In [ ]:
def getIndexes(dfObj, value):
  #https://thispointer.com/python-find-indexes-of-an-element-in-pandas-dataframe/
    ''' Get index positions of value in dataframe i.e. dfObj.'''
    listOfPos = list()
    # Get bool dataframe with True at positions where the given value exists
    result = dfObj.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)
    # Iterate over list of columns and fetch the rows indexes where value exists
    for col in columnNames:
        rows = list(result[col][result[col] == True].index)
        for row in rows:
            listOfPos.append((row, col))
    # Return a list of tuples indicating the positions of value in the dataframe
    return listOfPos

In [ ]:
listOfPositions = getIndexes(cont_simple, 'Albania')
for i in range(len(listOfPositions)):
  print('Position ', i, ' (Row index , Column Name) : ', cont_simple['region'][listOfPositions[i][0]])

Position  0  (Row index , Column Name) :  Europe

In [ ]:
df = df_org

In [ ]:
df['region'] = "Hi"

In [ ]:
df.head()

     country  year         parent_company  ...  num_events  volunteers  region
0  Argentina  2019            Grand Total  ...           4       243.0      Hi
1  Argentina  2019              Unbranded  ...           4       243.0      Hi
2  Argentina  2019  The Coca-Cola Company  ...           4       243.0      Hi
3  Argentina  2019                  Secco  ...           4       243.0      Hi
4  Argentina  2019             Doble Cola  ...           4       243.0      Hi

[5 rows x 15 columns]

In [ ]:
def convert_country(row):
  listOfPositions = getIndexes(cont_simple, row['country'])
  if len(listOfPositions) > 0:
    return cont_simple['region'][listOfPositions[0][0]]
  else:
    return np.nan

In [ ]:
df['region'] = df.apply(lambda row: convert_country(row), axis=1)

In [ ]:
df[df['region'].isna()].groupby('country').count()

         year  parent_company  empty  ...  num_events  volunteers  region
country                               ...
Unknown  1346            1346      0  ...        1346        1346       0

[1 rows x 14 columns]

# General understanding of data

In [ ]:
df.shape

(13380, 15)

In [ ]:
for each in df.columns:
  print(type(each))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
df[["year", "empty", "hdpe", "ldpe", "o", "pp", "ps", "pvc", "grand_total", "num_events", "volunteers"]] = df[["year", "empty", "hdpe", "ldpe", "o", "pp", "ps", "pvc", "grand_total", "num_events", "volunteers"]].apply(pd.to_numeric)

In [ ]:
print(df.dtypes)

country            object
year                int64
parent_company     object
empty             float64
hdpe              float64
ldpe              float64
o                 float64
pet               float64
pp                float64
ps                float64
pvc               float64
grand_total       float64
num_events          int64
volunteers        float64
region             object
dtype: object

In [ ]:
df.groupby("year")["country"].count()

year
2019    9296
2020    4084
Name: country, dtype: int64

# Replace NA values

In [ ]:
#df[df["parent_company"].isna()]
#for col in df.columns:
  #print(df[df[col].isna()])
df["parent_company"] = df["parent_company"].fillna("Unbranded")
df["empty"] = df["empty"].fillna(0.0)
df["hdpe"] = df["hdpe"].fillna(0.0)
df["ldpe"] = df["ldpe"].fillna(0.0)
df["o"] = df["o"].fillna(0.0)
df["pet"] = df["pet"].fillna(0.0)
df["pp"] = df["pp"].fillna(0.0)
df["ps"] = df["ps"].fillna(0.0)
df["pvc"] = df["ps"].fillna(0.0)
df["grand_total"] = df["grand_total"].fillna(0.0)
df["num_events"] = df["num_events"].fillna(0)
df["volunteers"] = df["volunteers"].fillna(0.0)

# Checking country and company sizes

In [ ]:
df.groupby("country").size().sort_values(ascending = False)

country
Unknown                     1346
United States of America     959
Indonesia                    930
China                        838
Philippines                  831
                            ...
Benin                          4
Luxembourg                     2
Honduras                       2
Côte D'Ivoire                  2
Armenia                        2
Length: 66, dtype: int64

In [ ]:
company_groups = df.groupby(['parent_company','country']).count().reset_index()
company_groups[company_groups['year'] > 2]
df[(df['parent_company'] == 'Unbranded') &(df['country'] == 'Argentina')]

        country  year parent_company  ...  num_events  volunteers    region
1     Argentina  2019      Unbranded  ...           4       243.0  Americas
9296  Argentina  2020      Unbranded  ...          24         9.0  Americas
9508  Argentina  2020      Unbranded  ...          24         9.0  Americas

[3 rows x 15 columns]

# Create 2019 and 2020 only df

In [ ]:
df2019 = df[df['year'] == 2019]
df2020 = df[df['year'] == 2020]

In [ ]:
df.groupby('year').sum().reset_index()

   year   empty     hdpe     ldpe  ...      pvc  grand_total  num_events  volunteers
0  2019     0.0  18640.0  79178.0  ...  11780.0     858462.0      322896  12710669.0
1  2020  4174.0  17102.0  37462.0  ...   9463.0     346494.0      123592   2123837.0

[2 rows x 12 columns]

# Region info

In [ ]:
reg_year_df = df.groupby(['region', 'year']).sum().reset_index()
reg_year_df

     region  year   empty    hdpe  ...     pvc  grand_total  num_events  volunteers
0    Africa  2019     0.0  9200.0  ...   404.0     225434.0       10229    890225.0
1    Africa  2020   335.0  8718.0  ...  2158.0     112496.0        6559    795810.0
2  Americas  2019     0.0   596.0  ...   462.0      51852.0       27942    600745.0
3  Americas  2020   671.0  1747.0  ...  1721.0      31733.0       58623    211116.0
4      Asia  2019     0.0  5354.0  ...  6224.0     408102.0       80689   8997499.0
5      Asia  2020   697.0  2977.0  ...  2834.0     107948.0       47960    936223.0
6    Europe  2019     0.0   420.0  ...   488.0      59158.0        8864    316254.0
7    Europe  2020  2467.0  3627.0  ...  2747.0      92649.0        9829    167578.0
8   Oceania  2019     0.0     0.0  ...     0.0          6.0           2        10.0
9   Oceania  2020     4.0    33.0  ...     3.0       1668.0         621     13110.0

[10 rows x 13 columns]

In [ ]:
total_plastic = df.num_events.sum()
total_plastic

446488

In [ ]:
reg_year_df['percentTotal'] = reg_year_df.grand_total.apply(lambda x: x/total_plastic)

In [ ]:
total_region = df.groupby('region').grand_total.sum()
total_region = total_region.to_frame().reset_index()
total_region

     region  grand_total
0    Africa     337930.0
1  Americas      83585.0
2      Asia     516050.0
3    Europe     151807.0
4   Oceania       1674.0

In [ ]:
countryAndCompany = df.groupby(['country', 'parent_company']).sum().reset_index()
countryAndCompany[countryAndCompany['country']=='United States of America'].sort_values(by = 'grand_total', ascending=False).head()

                        country         parent_company  ...  num_events  volunteers
10647  United States of America              Unbranded  ...         310      1762.0
10162  United States of America            Grand Total  ...          42       740.0
10613  United States of America     The Kroger Company  ...         176      1251.0
10434  United States of America                Pepsico  ...         134       511.0
10610  United States of America  The Coca-Cola Company  ...         176      1251.0

[5 rows x 14 columns]

# Brands

In [ ]:
df_brands = df[(df['parent_company'] !='Grand Total')] 
df_brands = df_brands[df_brands['parent_company'] !='Unbranded']
df_brands = df_brands[df_brands['parent_company'] !='Assorted']

In [ ]:
df_brands[df_brands['parent_company'].str.contains("cigar")].groupby('parent_company').count()

                    country  year  empty  ...  num_events  volunteers  region
parent_company                            ...
Sportsman cigarret        1     1      1  ...           1           1       1

[1 rows x 14 columns]

In [ ]:
df_brands = df_brands.replace(['Nestlé', 'Aguas CCU- Nestle', 'CCU - Nestle', 'Maggi(Nestle)', 'Nestle Granola', 'Nestle Product', 'Nestle Product Sdn. Bhd.', 'Nestles: Smarties', 'NestlÃ¨', 'Uncle Tobys Nestle', 'Vera NestlÃ¨', 'nestle drinking water', 'nestlÃ¨', 'Gerber Product Company', 'Nesquik', 'Cailler', 'Kitkat Matcha', 'Orion', 'Orion Confectionery', 'nescafe classic', 'Coffee-mate', 'Haagen-Dazs', 'Hagen', 'Purina', 'Purina gourmet', 'Mövenpick'], 'Nestle')
df_brands = df_brands.replace(['Hindustan Unilever', 'Axe', 'Clear', 'Comfort', 'Dove', 'Hellmanns', 'Hellmans', 'Knorr', 'Magnum', 'Omo', 'M/s Radiant Indus Chem Pvt. Ltd /Foodrite India', 'M/s Radiant Indus Chem Pvt. Ltd.', 'Smile', 'Smile (Тов Кпд)', 'Тов Кпд Biosphere Smile', 'Sunlight Resources', 'Sunlight Resources Ltd', 'Sunlite', 'Sun light', 'Surf Fabcon', 'Surf Fabric Conditioner', 'Ala', 'Marca Maizena', 'Persil', 'Pond', "Pond'S", 'Rinso Sachet', 'Rinso sachet', 'Suave', 'Solero Exotic', 'Surf Fabcon', 'Surf Fabric Conditioner', 'VO5', "Wall'S", "Wall's", 'Walls', 'Clinic Plus'], 'Unilever')
df_brands = df_brands.replace(['URC',"Jack 'n Jill", "Jack n' Jill", 'Calbee Inc.', 'Conagra', 'Conagra Brands', 'Aqua Danone', "Aqua d’Or Mineral Water a/s / Danone", 'Danone', 'Danone Foods Ltd', 'Grupo Danone', 'Простоквашино(Danone)', 'El Real Spaghetti 400gm', 'Nissin', 'Nissin Cup Noodles', 'Vitasoy', 'Vitasoy International Holdings', 'Vitasoy International Holdings Limited'], 'Universal Robina Corporation')
df_brands = df_brands.replace(['Philip Morris International', 'Chesterfield (Philip Morris)', 'Heets (Philip Morris)', 'L&M (Philip Morris)', 'Philip Meris', 'Marlboro', 'Marlboro Cigarettes'], 'Philip Morris')
df_brands = df_brands.replace(['P&G', 'p & g'], 'Procter & Gamble')
df_brands = df_brands.replace(['Pepsico', 'Frito-Lay', 'FritoLay', 'Frito_Lay', 'Fruit Lay', 'Lay', "Lay'S", 'Lays Chip', 'Lays Chips', 'Lays chip bag', 'Lays chips', 'Patatas Lays', 'Doritos Bits','Monster, Coors, Modelo, Blue Sky, Minute Maid, Diet Samâ€™s Cola, Budweiser, Mtn Dew', 'Dasani, Gatorade, Unknown', 'Gatorade', 'Tropicano', 'Starbucks Coffee', 'Starbucks', 'Starbucks Straws', 'Fritito', 'Frito Chips', 'Seven Up', 'Mirinda', 'Mirinda Orange'], 'PepsiCo')
df_brands = df_brands.replace('Etika - PepsiCo', 'PepsiCo')
df_brands = df_brands.replace(['Colgate', 'Speed Stick', "Tom's of Maine", 'Ajax'], 'Colgate-Palmolive')
df_brands = df_brands.replace('Flag; Fanta; Faxe; Inconnu', 'Inconnu')
df_brands = df_brands.replace(['PT Coca Cola Indonesia', 'Innocent / The Coca-Cola Company', 'Fanta', 'FantaSea', 'Pineapple Fanta', 'Smart water', 'Minute Maid (Bottle)', 'innocent', 'Innocent', 'Costa', 'Fuzetea', 'Honest Kids', 'Honest kids', 'GlacÃ©au Vitaminwater', 'Topo Chico','Peace'], 'The Coca-Cola Company')
df_brands = df_brands.replace(['Universal Robina', 'Universal Robina Corp'], 'Universal Robina Corporation')
df_brands = df_brands.replace(['Mondeles', 'Mondelez Kinh Do Viet Nam Company', 'MondelÄ“z Japan', 'Moreni waffle - Mondelez Iternational', 'Teddy Grahams (Mondelez Global)', 'Tuc (Mondelez)', 'Барні, Mondelēz International', 'Люкс, Mondelēz International'], 'Mondelez International')
df_brands = df_brands.replace(['Bounty (Mars)', 'Bounty Mars Украина', 'M&M/Mars', 'Mars', 'Mars Inc', 'Mars Incorporated', 'Mars International', 'Snickers (Mars)', 'Snickers Mars Украина', 'Twix Mars'], 'Mars, Incorporated')
df_brands = df_brands.replace(['Perfetti van Melle', 'Perfetti Van', 'Perfetti Melle', 'Perfelle Van Melle', 'Perfectti Van Mele Bangladesh Private ltd.', 'Perfette', 'Perfetti', 'Mentos Gum', 'Mentos Mint', 'Alpenliebe', 'Airheads Xtream', 'Center fresh gum', 'Fruitella'], 'Perfetti Van Melle')

In [ ]:
df_brands[(df_brands['parent_company']!='La Doo') & (df_brands['parent_company']!='Barna')].groupby('parent_company').sum().reset_index().sort_values(by='grand_total', ascending = False).head(10)

                    parent_company    year  ...  num_events  volunteers
8626         The Coca-Cola Company  214068  ...        2327     60324.0
6010                        Nestle  212045  ...        1838     58075.0
9032  Universal Robina Corporation  173679  ...        2622     78475.0
6665                       PepsiCo  232244  ...        2618     60397.0
9020                      Unilever  199927  ...        2283     85461.0
1807             Colgate-Palmolive   96940  ...        1155     29540.0
7030              Pure Water, Inc.    8077  ...          44      8064.0
6709                 Philip Morris  109056  ...         923     67623.0
6942              Procter & Gamble   98960  ...         929     33181.0
5494                  Mayora Indah   18180  ...         201      3287.0

[10 rows x 13 columns]

In [ ]:
df_brands[(df_brands['year'] == 2019) & (df_brands['parent_company']!='La Doo') & (df_brands['parent_company']!='Barna')].groupby('parent_company').sum().reset_index().sort_values(by='grand_total', ascending = False).head(10)

                    parent_company    year  ...  num_events  volunteers
6398         The Coca-Cola Company  104988  ...        1678     44874.0
5201              Pure Water, Inc.    6057  ...          35      7727.0
4513                        Nestle  111045  ...        1085     46395.0
4928                       PepsiCo  113064  ...        1442     41379.0
6690  Universal Robina Corporation   82779  ...        1352     62533.0
6681                      Unilever  107007  ...        1249     64046.0
3035                       Inconnu    4038  ...           2       470.0
4955                 Philip Morris   48456  ...         408     60591.0
5345             Reckitt Benckiser   24228  ...         213      8763.0
5596                  Sahakari Jal    2019  ...         145      1416.0

[10 rows x 13 columns]

In [ ]:
df_brands[(df_brands['year'] == 2020) & (df_brands['parent_company']!='La Doo') & (df_brands['parent_company']!='Barna')].groupby('parent_company').sum().reset_index().sort_values(by='grand_total', ascending = False).head(10)

                                         parent_company  ...  volunteers
2576                              The Coca-Cola Company  ...     15450.0
1733                                             Nestle  ...     11680.0
2707                       Universal Robina Corporation  ...     15942.0
544                                   Colgate-Palmolive  ...      9329.0
2703                                           Unilever  ...     21415.0
2000                                            PepsiCo  ...     19018.0
1579                                       Mayora Indah  ...      3287.0
2536  Tamil Nadu Co-operative Milk Producers' Federa...  ...       353.0
2082                                   Procter & Gamble  ...      9201.0
2023                                      Philip Morris  ...      7032.0

[10 rows x 13 columns]

In [ ]:
df_brands[df_brands['year'] == 2019].groupby('parent_company').count().country.sort_values(ascending = False).head(10)

parent_company
PepsiCo                         56
Nestle                          55
Unilever                        53
The Coca-Cola Company           52
Universal Robina Corporation    41
Mondelez International          33
Mars, Incorporated              32
Perfetti Van Melle              30
Philip Morris                   24
Colgate-Palmolive               20
Name: country, dtype: int64

In [ ]:
df_brands[df_brands['year'] == 2020].groupby('parent_company').count().country.sort_values(ascending = False).head(10)

parent_company
PepsiCo                         59
The Coca-Cola Company           54
Nestle                          50
Unilever                        46
Universal Robina Corporation    45
Mars, Incorporated              34
Mondelez International          34
Philip Morris                   30
Procter & Gamble                29
Colgate-Palmolive               28
Name: country, dtype: int64

In [ ]:
df_brands[df_brands['parent_company'] == 'Reckitt Benckiser']

                        country  year  ... volunteers    region
617                    Cameroon  2019  ...      387.0    Africa
1609                    Unknown  2019  ...     1416.0       NaN
3390                      India  2019  ...       88.0      Asia
4209                    Ireland  2019  ...        1.0    Europe
4237                      Italy  2019  ...      175.0    Europe
4705                     Latvia  2019  ...       13.0    Europe
5169                    Nigeria  2019  ...     1648.0    Africa
5586                Netherlands  2019  ...      827.0    Europe
5952                Philippines  2019  ...     3751.0      Asia
6422                   Slovenia  2019  ...        9.0    Europe
6748                  Sri Lanka  2019  ...       48.0      Asia
8828                    Vietnam  2019  ...      400.0      Asia
9708                 Bangladesh  2020  ...      127.0      Asia
9822                     Canada  2020  ...       13.0  Americas
9929                      Chile  2020  ...       13.0  Americas
10188                  Colombia  2020  ...      274.0  Americas
10422                    France  2020  ...       15.0    Europe
10729                     India  2020  ...      353.0      Asia
11567                  Malaysia  2020  ...      370.0      Asia
11676                    Mexico  2020  ...       83.0  Americas
11969                   Nigeria  2020  ...     2099.0    Africa
12069                      Peru  2020  ...       45.0  Americas
12333                     Spain  2020  ...      284.0    Europe
12400               Switzerland  2020  ...      540.0    Europe
12721                   Ukraine  2020  ...      238.0    Europe
12857            United Kingdom  2020  ...       90.0    Europe
13161  United States of America  2020  ...      511.0  Americas
13343                   Vietnam  2020  ...       27.0      Asia

[28 rows x 15 columns]

In [ ]:
df_brands.to_csv('PlasticCleaned.csv')

In [ ]:
df_brands[df_brands['region'] == 'Asia'].groupby('country').sum()

                         year  empty  ...  num_events  volunteers
country                               ...
Bangladesh             333276    0.0  ...         165     20307.0
Bhutan                   6057    0.0  ...           3     15900.0
China                 1690119    0.0  ...       30024   1363419.0
Cyprus                  96912    0.0  ...          48      1440.0
Hong Kong             1122564    0.0  ...        3892     37252.0
India                 1116853    4.0  ...       20204    140354.0
Indonesia             1869886    4.0  ...       34888   4457364.0
Japan                  428031    0.0  ...        7318    270246.0
Korea                  212100    1.0  ...        2730         0.0
Kuwait                  34340    0.0  ...          17        51.0
Malaysia               535240    0.0  ...        7235     93850.0
Maldives                14133    0.0  ...           7        14.0
Philippines           1669831  253.0  ...       16186   2767429.0
Singapore               12120    0.0  ...           6        24.0
Sri Lanka              197872    0.0  ...         186      4624.0
Taiwan                  18171    0.0  ...          18    281862.0
Thailand               383667    0.0  ...        1178     68951.0
Turkey                 195843    0.0  ...         388     30264.0
United Arab Emirates     4038    0.0  ...           2         6.0
Vietnam               1619364    1.0  ...        3460    273802.0

[20 rows x 12 columns]

In [ ]:
df_brands.groupby('parent_company').sum().sort_values(by='pvc', ascending = False)

                          year  empty  ...  num_events  volunteers
parent_company                         ...
McDonald's Corporation   32304    0.0  ...         285      9741.0
Indofood                 24234    0.0  ...         359     14028.0
Nestle                  212045  215.0  ...        1838     58075.0
Malindu                   2019    0.0  ...           2        48.0
PepsiCo                 232244   21.0  ...        2618     60397.0
...                        ...    ...  ...         ...         ...
Haiter                    2019    0.0  ...           5       374.0
Haitian                   2019    0.0  ...          48      1439.0
Haitian-Food              2019    0.0  ...          48      1439.0
Hakugen                   2019    0.0  ...          35      1293.0
脆司令/Cui Siling            2019    0.0  ...          48      1439.0

[10651 rows x 12 columns]

# Total Plastic

In [ ]:
total_count = df[(df['parent_company'] !='Grand Total')]

In [ ]:
total_count[total_count['year']==2019].groupby('country').sum().sort_values(by='grand_total', ascending = False)

                             year  empty  ...  num_events  volunteers
country                                   ...
Taiwan                      20190    0.0  ...          20    313180.0
Nigeria                    712707    0.0  ...        4942    581744.0
Unknown                   2715555    0.0  ...      195025   1904520.0
Philippines               1433490    0.0  ...       14200   2663210.0
Indonesia                 1282065    0.0  ...       20320   4349750.0
Ecuador                     98931    0.0  ...          49     22295.0
Vietnam                   1366863    0.0  ...        2708    270800.0
Kenya                      211995    0.0  ...         525    163800.0
Cameroon                   304869    0.0  ...        1510     58437.0
Switzerland                528978    0.0  ...        1572     85674.0
Burkina Faso                52494    0.0  ...          26      6110.0
Netherlands                211995    0.0  ...         210     86835.0
Benin                        2019    0.0  ...           1      2328.0
Malaysia                   123159    0.0  ...          61     18300.0
Ukraine                   1146792    0.0  ...        3976     64752.0
Brazil                     268527    0.0  ...         399     55727.0
Montenegro                  34323    0.0  ...          17      9571.0
United States of America  1175058    0.0  ...       24444    430680.0
Sri Lanka                  179691    0.0  ...         178      4272.0
Hong Kong                 1124583    0.0  ...        3899     37319.0
Bhutan                       8076    0.0  ...           4     21200.0
China                     1253799    0.0  ...       29808    893619.0
Argentina                  553206    0.0  ...        1096     66582.0
Latvia                     266508    0.0  ...         132      1716.0
India                      419952    0.0  ...         832     18304.0
Spain                      218052    0.0  ...        1296     35640.0
Tanzania                   284679    0.0  ...        2961     14523.0
Portugal                   119121    0.0  ...         118      2537.0
Slovenia                   288717    0.0  ...         143      1287.0
South Africa                78741    0.0  ...          78     19929.0
Colombia                     2019    0.0  ...           1      5253.0
Italy                      286698    0.0  ...        1278     24850.0
Mexico                     539073    0.0  ...        1869     12816.0
Ghana                       56532    0.0  ...          84     30800.0
Rwanda                      32304    0.0  ...          32      1312.0
Thailand                   270546    0.0  ...         670     50116.0
Germany                     14133    0.0  ...          14       105.0
Turkey                     195843    0.0  ...         388     30264.0
Japan                      423990    0.0  ...        7350    271530.0
Côte D'Ivoire                2019    0.0  ...           1      1500.0
Tunisia                     16152    0.0  ...           8       256.0
Maldives                    14133    0.0  ...           7        14.0
Cyprus                      96912    0.0  ...          48      1440.0
Bangladesh                  50475    0.0  ...          25      2500.0
France                       6057    0.0  ...           3        39.0
United Arab Emirates         4038    0.0  ...           2         6.0
Bulgaria                    72684    0.0  ...          36       540.0
Australia                    2019    0.0  ...           1         5.0
United Kingdom              18171    0.0  ...           9       189.0
Ireland                     22209    0.0  ...          11        11.0
Canada                      50475    0.0  ...          25       225.0
Luxembourg                   2019    0.0  ...           1        21.0

[52 rows x 12 columns]

In [ ]:
total_unbranded = total_count[total_count['parent_company'] == 'Unbranded'].grand_total.sum()

In [ ]:
(1 - total_unbranded / total_count.grand_total.sum()) * 100

39.63517999290986

In [ ]:
total_count.groupby('country').count().reset_index().country

0                    Argentina
1                      Armenia
2                    Australia
3                   Bangladesh
4                        Benin
                ...
61        United Arab Emirates
62              United Kingdom
63    United States of America
64                     Unknown
65                     Vietnam
Name: country, Length: 66, dtype: object

In [ ]:
total_count.to_csv('TotalPlasticCount.csv')

# Checking top companies plastic counts

In [ ]:
coke_trend = df_brands[df_brands['parent_company'] =="The Coca-Cola Company"].groupby('year').sum().reset_index()
coke_trend

   year  empty   hdpe   ldpe  ...   pvc  grand_total  num_events  volunteers
0  2019    0.0  877.0   97.0  ...  44.0      11759.0        1678     44874.0
1  2020   23.0  734.0  364.0  ...   8.0      13881.0         649     15450.0

[2 rows x 12 columns]

In [ ]:
nestle_trend = df_brands[df_brands['parent_company'] =="Nestle"].groupby('year').sum().reset_index()
nestle_trend

   year  empty   hdpe   ldpe  ...   pvc  grand_total  num_events  volunteers
0  2019    0.0  178.0  803.0  ...  84.0       4922.0        1085     46395.0
1  2020  215.0   55.0  220.0  ...  18.0       8700.0         753     11680.0

[2 rows x 12 columns]

In [ ]:
robina_trend = df_brands[df_brands['parent_company'] =="Universal Robina Corporation"].groupby('year').sum().reset_index()
robina_trend

   year  empty   hdpe   ldpe  ...   pvc  grand_total  num_events  volunteers
0  2019    0.0   62.0  179.0  ...  14.0       3445.0        1352     62533.0
1  2020    2.0  124.0   22.0  ...  58.0       8078.0        1270     15942.0

[2 rows x 12 columns]

In [ ]:
fig = go.Figure(data=[
    go.Bar(name='The Coca-Cola Company', x=coke_trend.year, y=coke_trend.grand_total),
    go.Bar(name='Nestle', x=nestle_trend.year, y=nestle_trend.grand_total),
    go.Bar(name='Universal Robina Corporation', x=robina_trend.year, y=robina_trend.grand_total)
])

fig.update_layout(barmode='group')
fig.update_layout(title = 'Top Plastic Pollution Brands Saw an Increase of Plastic from 2019 to 2020', xaxis_title = 'Year', yaxis_title = 'Total Plastic Count')
fig.show()